body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

p {
  color: #333;
}

#text {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}

div.padded {
  padding: 8px;
}

div.container {
  padding: 12px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 6px;
  max-width: 768px;
  position: relative;
}
.collapsed {
  display: none;
}

canvas#game_canvas {
  border: 1px solid black;
}

div#stats {
  background: black;
  color: white;
  font-weight: bold;
  height: 16px;
  font-size: 22px;
  padding: 8px;
}
div#stats div {
  display: inline-block;
}

div#beers_stats {
  float: left;
  margin-right: 172px;
  margin-top: auto;
  margin-bottom: auto;
}

div#health_stats {
  width: 128px;
}

div#duration {
  margin: auto 10px;
  float: right;
}

div#dialog {
  background: black;
  position: absolute;
  height: 240px;
  width: 100%;
  margin-top: -240px;
  opacity: 0.64;
  display: none;
}

.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}

.ui2 {

}
.ui2.window {
  background: black;
  opacity: 0.8;
  padding: 8px;
  color: white;
  width: 416px;
  position: absolute;
  top: 240px;
  left: 212px;
  display: none;
}
.ui2.title {
  display: none;
}
.ui2.button {
  float: right;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
  height: 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.ui2.button:hover {
  background: white;
  color: black;
}
.ui2.x {
  display: none;
}
.ui2.body {
}
.ui2.root {
}
.ui2.text {
}

.ui {

}
.ui.window {

  background: #072947;
  width: 480px;
  position: absolute;
  top: 128px;
  left: 104px;
  padding: 3px;

  border-radius: 8px;

  display: none;
}
.ui.title {
  display: none;
  border-radius: 4px;
  background: url(img/ui/top_border.png) repeat-x;
  width: 100%;
  height: 32px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  font-family: sans;
  margin-bottom: 3px;
}
.ui.button {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  height: 20px;
  background: url(img/ui/button.png) repeat-x;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.ui.button:hover {
  color: black;
  backgruond: url(img/ui/button_pressed.png) repeat-x;
}
.ui.x {
  margin-top: -8px;
  margin-right: -12px;
}
.ui.body {
  background: #cccccc;
  border-radius: 4px;
}
.ui.root {
}
.ui.text {
  padding: 8px;
}