body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

p {
  color: #333;
}

#text {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}

div.padded {
  padding: 8px;
}

div.bold {
  font-weight: bold;
}

div.no_padding {
  padding: 0px;
}

div.container {
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 6px;
  position: relative;
}

.collapsed {
  display: none;
}

canvas#game_canvas {
  border: 1px solid black;
}

div#debug_stats div {
  display: inline-block;
}

div#stats {
  background: black;
  color: white;
  font-weight: bold;
  height: 16px;
  font-size: 22px;
  padding: 8px;
}

div#stats div {
  display: inline-block;
}

div#beers_stats {
  float: left;
  margin-right: 172px;
  margin-top: auto;
  margin-bottom: auto;
}

div#health_stats {
  width: 128px;
}

div#duration {
  margin: auto 10px;
  float: right;
}

div#dialog {
  background: black;
  position: absolute;
  top: 75%;
  height: 25%;
  width: 100%;
  opacity: 0.64;
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.ui {
  background: black;
  padding: 20px;
  opacity: 0.8;
  color: white;
}

.ui .button {
  float: right;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
  height: 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.ui .button:hover {
  background: white;
  color: black;
}

.window {
  width: 600px;
  display: none;
  position: absolute;
  top: 300px;
  height: 200px;
}

.notifications {
  width: 92%;
  display: none;
  position: absolute;
  top: 10%;
  height: 8%;
}